<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tarjetas</title>
</head>
<body>
    <h1>Lista de Tarjetas</h1>
    <ul>
        {% for tarjeta in tarjetas %}
            <li>
                {{ tarjeta.numero_tarjeta }} - {{ tarjeta.tipo.descripcion }} - {{ tarjeta.cliente.nombre }}
                <a href="{% url 'edit_tarjeta' tarjeta.numero_tarjeta %}">Editar</a>
                <form action="{% url 'delete_tarjeta' tarjeta.numero_tarjeta %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_tarjeta' %}">Añadir Tarjeta</a>
</body>
</html>
